.calendar-head{
    display: flex;
    text-align: center;
    margin: auto;
}
.calendar-container{
    display: table-cell;;
    width: 14%;
    height: 12rem;
    box-shadow: 
    2px 0 0 0  #e6e6e6, 
    0 2px 0 0  #e6e6e6, 
    2px 2px 0 0 #e6e6e6,   /* Just to fix the corner */
    2px 0 0 0  #e6e6e6 inset, 
    0 2px 0 0  #e6e6e6 inset;
}
.calendar-row{
    display: flex;
}
.calendar-body{
    margin:auto;
}
.calendar-date{
    margin-left: 2rem;
    margin-top: 0.8rem;
}
.calendar-text{
    margin-left: 2rem;
}
.calendar_event_name{
    display: flex;
}